@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Urbanist', sans-serif !important;
  font-size: 16px;
  height: 100vh;
  color: #000;
  background-color: #d4d4d5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.root{
  height: 100%;
}

.main,
.main__container {
  height: 100%;
}

.main__container{
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.h1{font-size: 20px;}
.h2{font-size: 18px;}
.h3{font-size: 13px;}

button {
  font-family: 'Urbanist', sans-serif !important;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #FFF;
  border: 1px solid #5142fc;
  border-radius: 24px;
  padding: 10px 25px;
  background: transparent;
  display: flex;
  cursor: pointer;

  &:hover {
    background-color: #5142fc;
    transition: all 0.3s;
  }

  &.has-icon .button-icon {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }

  &.button-submit{
    color: #FFF;
    background-color: rgb(52, 172, 52);
    border: none;
    min-width: 60px;
    margin-right: 5px;
  }

  &.button-back{
    color: #FFF;
    background-color: #0d6efd;
    border: none;
    min-width: 60px;
    margin-right: 5px;
  }

  &.button-edit{
    background-color: #e8d153;
    border: none;
    color: #FFF;
    font-size: 16px;

  }
}

.session-header__title {
  font-size: 28px;
  font-weight: 600;
  color: #ffbd0c;
}

.status-pending{
  background-color: orange;
  color: #FFF;
  border: none;

  &:hover{
    background-color: orange;
    filter: brightness(80%);
  }
}
.status-process{
  background-color: skyblue;
  color: #FFF;
  border: none;

  &:hover{
    background-color: skyblue;
    filter: brightness(80%);
  }
}